*{
  margin: 0;
  padding: 0;
}
body{
  background-color: black;
  font-family: sans-serif;
  color: white;
}
a{
  color: white;
}
a:hover{
  color: brown;
}
button{
  border-radius: 6px;
  height: 35px;
  width: 180px;
  align-items: center;
  color: white;
  background-color: transparent;
  border: 1px solid white;
}
button:hover{
  background-color: blue;
  cursor: pointer;
}
header{
  align-items: center;
  padding: 20px 0 20px 0;
  justify-content: space-between;
}
.d-flex-c{
  display: flex;
  flex-direction: column;
}
.d-flex-r{
  display: flex;
  flex-direction: row;
}
#m-container{
  max-width: 1480px;
  width: 80%;
  margin: 0 auto;
}
nav{
  align-items: center;
}
#language{
  margin-left: 20px;
}
h2{
  color: red;
  font-size: 14pt;
}
li{
  margin-top: 8px;
  margin-left: 25px;
}
#col-left{
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 25px 10px 25px 25px;
  max-height: 750px;
  max-width: 720px;
}
#col-right{
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 25px;
  max-height: 750px;
  max-width: 720px;
  margin-left: 15px;
  width: 100%;
}
#u-top{
  justify-content: space-between;
}
.contact{
  text-align: right;
  justify-content: right;
}
#top-right{
  text-align: right;
}
#u-bottom{
  justify-content: space-between;
  margin-top: 25px;
}
.module{
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 25px;
  margin-top: 25px;
}
#photo{
  max-width: 150px;
  min-width: 100px;
  max-height: 150px;
  min-height: 100px;
}
#user{
  margin-top: 20px;
  margin-bottom: 15px;
}
#l-content{
  max-height: 76%;
  overflow-x: scroll;
}
#l-content::-webkit-scrollbar{
  margin-left: 10px;
  background-color: transparent;
}
#l-content::-webkit-scrollbar-thumb{
  background-color: #F2BD47;
  border-radius: 20px;
  padding-left: 15px;
  padding-top: 50px;
  -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.25);
box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.25);
}
.m-l{
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 25px;
  margin-right: 10px;
}
input{
  margin-top: 14px;
  border-radius: 6px;
  border: 1px solid white;
  height: 35px;
  padding-left: 10px;
  background-color:transparent;
  color: white;
}
input:focus{
  border: 3px solid  red ;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }
#enviar:hover{
  background-color: blue;
}
input::placeholder{
  color: white;
}
input::placeholder:hover{
  color: red;
}
#message{
  height: 150px;
  padding-top: 5px;
}
footer{
  display: flex;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position:fixed;
  bottom: 0;
  align-items: center;
  width: 100%;
  height: 80px;
}
#footer-container{
  margin: 0 auto;
  max-width: 1480px;
  justify-content: space-between;
}
#binec{
  position: fixed;
  bottom: 0;
  right:0;
}
#f-icon:hover svg{
  fill: red;
}
#galeria{
  margin: 0 auto;
}
.slider {
  position: relative;
  max-width: 800px;
  margin: 20px auto;
  overflow: hidden;
  text-align: center;
}

.slides {
  margin-top: 20px;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  cursor: pointer;
  text-align: center;
  max-width: 50%;
  width: 200px;
}

.slide img {
  width: 100%;
  display: block;
  max-width: 350px;
  margin: 0 auto;
}

.navigation-dots {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}

/* Popup Styles */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

}

.popup.active {
  display: flex;
}

.popup-content {
  position: relative;
  width: 90%;
  max-width: 90%;
  background: black;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.31);
  height: 90%;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(50px);
-webkit-backdrop-filter: blur(50px);
}

.popup-content img {
  width: 100%;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
}

.popup-navigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 95%;
  transform: translateY(-50%);
}

.popup-navigation button {
  background: none;
  border: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  padding: 10px;
}
.popup-body {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.popup-image {
  flex: 1;
}

.popup-image img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.popup-text {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
}

.popup-text p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}
