*{
  margin: 0;
  padding: 0;
}
body{
  background-color: black;
  font-family: sans-serif;
  color: white;
}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: red;
  text-decoration: none;
}
p{
  line-height: 1.25;
}
button{
  border-radius: 6px;
  height: 35px;
  width: 180px;
  align-items: center;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  justify-content: center;
}
button:hover{
  background-color: blue;
  cursor: pointer;
}
header{
  align-items: center;
  padding: 20px 0 20px 0;
  justify-content: space-between;
  text-decoration: none;
}
header
.d-flex-c{
  display: flex;
  flex-direction: column;
}
#logo{
  text-decoration: none;
}
.d-flex-r{
  display: flex;
  flex-direction: row;
}
#m-container{
  max-width: 1480px;
  width: 80%;
  margin: 0 auto;
}
nav{
  align-items: center;
}
#language{
  margin-left: 20px;
  text-decoration: underline;
}
#language:hover{
  color: red;
}
h2{
  color: blue;
  font-size: 14pt;
}
li{
  margin-top: 8px;
  margin-left: 25px;
}
#col-left{
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 25px;
  max-height: 750px;
  max-width: 50%;
}
#col-right{
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 25px;
  max-height: 750px;
  max-width: 45%;
  min-width: 45%;
  margin-left: 15px;
  text-align: center;
}
#u-top{
  justify-content: space-between;
}
.contact{
  text-align: right;
  justify-content: right;
}
#b-contact:hover{
  color: black;
  background-color: yellow;
}
#top-right{
  text-align: right;
}
#u-bottom{
  justify-content: space-between;
  margin-top: 25px;
}
.module{
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 25px;
  margin-top: 25px;
}
#photo{
  max-width: 150px;
}
#user{
  margin-top: 20px;
  margin-bottom: 15px;
  justify-content: space-between;
}
#user-info{
  width: 75%;
}
#l-content{
  max-height: 78%;
  overflow-x: scroll;
}
#l-content::-webkit-scrollbar{
  margin-left: 10px;
  background-color: transparent;
  width: 10px;
}
#l-content::-webkit-scrollbar-thumb{
  background-color: blue;
  border-radius: 20px;
  padding-left: 15px;
  padding-top: 50px;
  -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.25);
}
.m-l{
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 25px;
  margin-right: 10px;
}
form{
  text-align: left;
}
#form-inputs{
  height: 100%;
}

input{
  margin-top: 12px;
  border-radius: 6px;
  border: 1px solid white;
  height: 35px;
  padding-left: 10px;
  background-color:transparent;
  color: white;
  width:90%;
}
input:focus{
  border: 4px solid  yellow ;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }

input::placeholder{
  color: white;
}
input::placeholder:focus{
  color: yellow;
}
#enviar{ 
  width: 20%;
  height: 85px;
  padding-left: 0;
}
#enviar:hover{
  background-color: yellow;
  color: black;
}
footer{
  display: flex;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position:fixed;
  bottom: 0;
  align-items: center;
  width: 100%;
  height: 80px;
}
#footer-container{
  margin: 0 auto;
  max-width: 1480px;
  justify-content: space-between;
}
#binec{
  position: fixed;
  bottom: 0;
  right:0;
}
#f-icon{
  margin-left: 20px;
}
path:hover{
  fill: red;
}
#galeria{
  margin: 0 auto;
}
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.tab {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ffffff;
  background: transparent;
  width: 100%;
  border-radius: 10px;
  margin: 0 10px 0 10px;
}
.tab.active {
  background: red;
  font-weight: bold;
}
.tab:hover{
  background-color: rgb(127, 0, 0);
}
.tab-content {
  display: none;
  padding: 20px;
  background: #ffffff49;
  border-radius: 10px;
  max-height: 500px;
}
.tab-content.active {
  display: block;
}
.slider {
  position: relative;
  overflow: hidden;
}
.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;

}
.slide {
  min-width: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slide h2 {
  text-align: center;
  margin-bottom: 20px;
}
.slide-content {
  display: flex;
  width: 100%;

}
.slide-content .image {
  width: 50%;
}
.slide-content img {
  width: 100%;
  height: auto;
}
.slide-content .text {
  display: flex;
  width: 50%;
  padding: 10px;
  text-align: left;
  align-items: center;
}
.text{
  line-height: 1.2;
}
#image{
  width: 80%;
}
#image:hover{
  size: 110%;
  cursor: pointer;
}
.dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
}
.dot.active {
  background: #333;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 10px;
}
.popup.active {
  display: flex;
}
.popup-content {
  position: relative;
  width: 90%;
  height: 80%;
  background: #ffffff56;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
#popslider{
  margin-top: -250px;
}
#gltf-container{
  max-width: 250px;
  max-height: 250px;
}
#pie:hover{
  color: violet;
}
@media screen and (max-width: 1600px) {
  #m-container{
    height: 110vh;
  }
}
@media screen and (max-width: 1440px) {
  #photo{
    width: 80px;
    height: 80px;
  }
  #col-left{
    padding: 25px;
  }
  .slide{
    padding-top: 0;
  }
  .dots{
    position:absolute;
    margin-top: -20px;
    z-index: 10;
    margin-left: 38%;
  }
  .t-hidden{
    display: none;
  }
}
@media screen and (max-width: 1366px) {
  #user-info{
    width: 80%;
  }
  .tab-content{
    height: 400px;
  }
  .dots{
    bottom: 60px;
  }
  p{
    font-size: 11pt;
  }
}
@media screen and (max-width: 375px){
  #binec{
    width: 25vw;
    bottom: 50px;
  }
  #m-container{
    width: 350px;
    overflow: scroll;
  }
  header{
    width: 350px;
  }
  #language{
    margin-right: 10px;
  }
  footer{
    height: 50px;
  }
  #Resume-download{
    width: 155px;
  }
  #icon-download{
    margin-left: 0;
  }
  #content{
    flex-direction: column;
  }
  #user{
    flex-direction: column;
    margin-top: 0;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: -80px;
  }
  #photo{
    width: 120px;
    height: 120px;
  }
  #u-top{
    flex-direction: column;
  }
  #u-bottom{
    flex-direction: column;
  }
  #user-info{
    width: 95%;
  }
  #top-right{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }
  #bottom-left{
    display: flex;
    flex-direction: row;
    font-size: 8pt;
  }
 .text-mobile {
  padding-top: 3px;
    font-size: 9pt;
  }
  #u-bottom{
    margin-top: 10px;
  }
  #col-left{
    max-width: 100%;
    margin-top: 60px;
    max-height: 2600px;
  }
  .text-location-mobile{
    font-size: 9pt;
  }
  .mty{
    margin-left: 15px;
  }
  #bottom-right{
    margin-top: 20px;
  }
  #b-contact{
    width: 250px;
  }
  .m-l{
    margin-right: 0;
  }
  #col-right{
    margin-top: 25px;
    max-width: 100%;
    margin-left: 0;
    max-height: 1200px;
  }
  .tab{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slide{
    padding: 0;
  }
  .slide-content{
    flex-direction: column;
  }
  .slide-content .image{
    width: 100%;
  }
  .slide-content .text{
    width: 100%;
    padding: 5px;
  }
  .tab-content{
    max-height: 530px;
    height: 100%;
  }
  .dots{
    margin-left: 10%;
    bottom: 10px;
  }
  .dot{
    width: 20px;
    height: 20px;
    margin-left: 15px;
  }
  #form-inputs{
    flex-direction: column;
  }
  input{
    width: 95%;
  }
  #enviar{
    width: 100%;
  }
}